In [30]:
import findspark  
findspark.init()  
# run spark from jupyter notebook

In [31]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [32]:
df = spark.read.csv("sgHomeSolarData -211021.csv", inferSchema = True, header = True)

In [33]:
df.show()

+---+-----------------+--------------+-----+----------------+
| id|IOTSensorlocation|   Measurement|Value|        readDate|
+---+-----------------+--------------+-----+----------------+
|  1|         13111111|   Temperature| 21.6|14/09/2021 15:39|
|  2|         13111111|   Temperature| 24.0|14/09/2021 16:40|
|  3|         13111111|   Temperature| 24.0|14/09/2021 16:55|
|  4|         13111111|   Temperature| 24.0|14/09/2021 16:56|
|  5|         13111111|   Temperature| 24.0|14/09/2021 16:56|
|  6|         13111111|   Temperature| 24.0|14/09/2021 16:57|
|  7|         13111111|   Temperature| 24.0|14/09/2021 17:01|
|  8|         13111111|   Temperature| 24.0|14/09/2021 17:02|
|  9|         13111111|   Temperature| 21.6|14/09/2021 17:07|
| 10|         13111111|   Temperature| 21.6|14/09/2021 17:09|
| 11|   UpstairsAircon|   Temperature| 18.0|18/09/2021 17:37|
| 12|       PVarrayGen|WattsGenetated|218.0|18/09/2021 17:37|
| 13|       HouseUsage|  WattsMetered|  8.0|18/09/2021 17:37|
| 14|       HouseUsage|    WattsUsage|226.0|18/09/2021 17:37|
| 15|   UpstairsAircon|   Temperature| 18.0|18/09/2021 17:37|
| 16|       PVarrayGen|WattsGenetated|216.0|18/09/2021 17:37|
| 17|       HouseUsage|  WattsMetered| 14.0|18/09/2021 17:37|
| 18|       HouseUsage|    WattsUsage|230.0|18/09/2021 17:37|
| 19|   UpstairsAircon|   Temperature| 18.0|18/09/2021 17:37|
| 20|       PVarrayGen|WattsGenetated|212.0|18/09/2021 17:37|
+---+-----------------+--------------+-----+----------------+
only showing top 20 rows

In [34]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- IOTSensorlocation: string (nullable = true)
 |-- Measurement: string (nullable = true)
 |-- Value: double (nullable = true)
 |-- readDate: string (nullable = true)

In [35]:
df.count()

420279

In [36]:
dfTemp = df.filter(df.Measurement =='Temperature')
dfTemp.describe('Value').show()

+-------+------------------+
|summary|             Value|
+-------+------------------+
|  count|            105078|
|   mean|17.711389634366853|
| stddev| 1.718113504500662|
|    min|              12.0|
|    max|              24.0|
+-------+------------------+

In [38]:

dfGen = df.filter(df.Measurement =='WattsGenetated')
dfGen.orderBy(dfGen.Value).show()

+---+-----------------+--------------+-----+----------------+
| id|IOTSensorlocation|   Measurement|Value|        readDate|
+---+-----------------+--------------+-----+----------------+
|120|       PVarrayGen|WattsGenetated| -1.0|18/09/2021 17:43|
|240|       PVarrayGen|WattsGenetated| -1.0|18/09/2021 17:51|
|472|       PVarrayGen|WattsGenetated|  0.0|18/09/2021 18:05|
|484|       PVarrayGen|WattsGenetated|  0.0|18/09/2021 18:05|
|476|       PVarrayGen|WattsGenetated|  0.0|18/09/2021 18:05|
|480|       PVarrayGen|WattsGenetated|  0.0|18/09/2021 18:05|
|468|       PVarrayGen|WattsGenetated|  2.0|18/09/2021 18:04|
|464|       PVarrayGen|WattsGenetated|  6.0|18/09/2021 18:04|
|460|       PVarrayGen|WattsGenetated|  8.0|18/09/2021 18:04|
|456|       PVarrayGen|WattsGenetated| 10.0|18/09/2021 18:04|
|452|       PVarrayGen|WattsGenetated| 18.0|18/09/2021 18:03|
|448|       PVarrayGen|WattsGenetated| 23.0|18/09/2021 18:03|
|444|       PVarrayGen|WattsGenetated| 28.0|18/09/2021 18:03|
|440|       PVarrayGen|WattsGenetated| 34.0|18/09/2021 18:03|
|436|       PVarrayGen|WattsGenetated| 38.0|18/09/2021 18:02|
|428|       PVarrayGen|WattsGenetated| 42.0|18/09/2021 18:02|
|432|       PVarrayGen|WattsGenetated| 42.0|18/09/2021 18:02|
|424|       PVarrayGen|WattsGenetated| 44.0|18/09/2021 18:02|
|412|       PVarrayGen|WattsGenetated| 44.0|18/09/2021 18:01|
|420|       PVarrayGen|WattsGenetated| 44.0|18/09/2021 18:01|
+---+-----------------+--------------+-----+----------------+
only showing top 20 rows

In [29]:
spark.stop()

In [9]:
# Select only the "name" column
dfName = df.select("name")
dfName.show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [10]:
# Select everybody, but increment the age by 1
df.select(df['name'], df['age'] + 1).show()

+-------+---------+
|   name|(age + 1)|
+-------+---------+
|Michael|     null|
|   Andy|       31|
| Justin|       20|
+-------+---------+

In [11]:
# Select people older than 21
dfOld = df.filter(df['age'] > 21)
dfOld.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [12]:
# Count people by age
df.groupBy("age").count().show()

+----+-----+
| age|count|
+----+-----+
|  19|    1|
|null|    1|
|  30|    1|
+----+-----+

# Running SQL Queries Programmatically

In [13]:
# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("people")

sqlDF = spark.sql("SELECT * FROM people")
sqlDF.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [14]:
# Register the DataFrame as a global temporary view
df.createGlobalTempView("people")

# Global temporary view is tied to a system preserved database `global_temp`
spark.sql("SELECT * FROM global_temp.people").show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [ ]:
# http://localhost:4040/environment/

In [15]:
spark.stop()