In [42]:
import findspark  
findspark.init()  
# run spark from jupyter notebook

In [43]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [44]:
df = spark.read.csv("sgHomeSolarData -211021.csv", inferSchema = True, header = True)

In [45]:
df.show()

+---+-----------------+--------------+-----+----------------+
| id|IOTSensorlocation|   Measurement|Value|        readDate|
+---+-----------------+--------------+-----+----------------+
|  1|         13111111|   Temperature| 21.6|14/09/2021 15:39|
|  2|         13111111|   Temperature| 24.0|14/09/2021 16:40|
|  3|         13111111|   Temperature| 24.0|14/09/2021 16:55|
|  4|         13111111|   Temperature| 24.0|14/09/2021 16:56|
|  5|         13111111|   Temperature| 24.0|14/09/2021 16:56|
|  6|         13111111|   Temperature| 24.0|14/09/2021 16:57|
|  7|         13111111|   Temperature| 24.0|14/09/2021 17:01|
|  8|         13111111|   Temperature| 24.0|14/09/2021 17:02|
|  9|         13111111|   Temperature| 21.6|14/09/2021 17:07|
| 10|         13111111|   Temperature| 21.6|14/09/2021 17:09|
| 11|   UpstairsAircon|   Temperature| 18.0|18/09/2021 17:37|
| 12|       PVarrayGen|WattsGenetated|218.0|18/09/2021 17:37|
| 13|       HouseUsage|  WattsMetered|  8.0|18/09/2021 17:37|
| 14|       HouseUsage|    WattsUsage|226.0|18/09/2021 17:37|
| 15|   UpstairsAircon|   Temperature| 18.0|18/09/2021 17:37|
| 16|       PVarrayGen|WattsGenetated|216.0|18/09/2021 17:37|
| 17|       HouseUsage|  WattsMetered| 14.0|18/09/2021 17:37|
| 18|       HouseUsage|    WattsUsage|230.0|18/09/2021 17:37|
| 19|   UpstairsAircon|   Temperature| 18.0|18/09/2021 17:37|
| 20|       PVarrayGen|WattsGenetated|212.0|18/09/2021 17:37|
+---+-----------------+--------------+-----+----------------+
only showing top 20 rows

In [46]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- IOTSensorlocation: string (nullable = true)
 |-- Measurement: string (nullable = true)
 |-- Value: double (nullable = true)
 |-- readDate: string (nullable = true)

In [47]:
df.count()

420279

In [48]:
dfTemp = df.filter(df.Measurement =='Temperature')
dfTemp.describe('Value').show()

+-------+------------------+
|summary|             Value|
+-------+------------------+
|  count|            105078|
|   mean|17.711389634366853|
| stddev| 1.718113504500662|
|    min|              12.0|
|    max|              24.0|
+-------+------------------+

In [49]:

dfGen = df.filter(df.Measurement =='WattsGenerated')
dfGen.orderBy(dfGen.Value).show()

+-----+-----------------+--------------+-----+----------------+
|   id|IOTSensorlocation|   Measurement|Value|        readDate|
+-----+-----------------+--------------+-----+----------------+
| 2160|       PVarrayGen|WattsGenerated| -1.0|19/09/2021 14:45|
|18004|       PVarrayGen|WattsGenerated| -1.0| 20/09/2021 6:29|
| 2184|       PVarrayGen|WattsGenerated| -1.0|19/09/2021 14:47|
| 4880|       PVarrayGen|WattsGenerated| -1.0|19/09/2021 17:27|
| 4884|       PVarrayGen|WattsGenerated| -1.0|19/09/2021 17:28|
| 5232|       PVarrayGen|WattsGenerated| -1.0|19/09/2021 17:48|
| 5236|       PVarrayGen|WattsGenerated| -1.0|19/09/2021 17:49|
| 5992|       PVarrayGen|WattsGenerated| -1.0|19/09/2021 18:34|
| 5996|       PVarrayGen|WattsGenerated| -1.0|19/09/2021 18:34|
| 6028|       PVarrayGen|WattsGenerated| -1.0|19/09/2021 18:36|
| 6032|       PVarrayGen|WattsGenerated| -1.0|19/09/2021 18:36|
| 7284|       PVarrayGen|WattsGenerated| -1.0|19/09/2021 19:51|
| 7384|       PVarrayGen|WattsGenerated| -1.0|19/09/2021 19:57|
|11036|       PVarrayGen|WattsGenerated| -1.0|19/09/2021 23:34|
|11040|       PVarrayGen|WattsGenerated| -1.0|19/09/2021 23:34|
|11220|       PVarrayGen|WattsGenerated| -1.0|19/09/2021 23:45|
|12500|       PVarrayGen|WattsGenerated| -1.0| 20/09/2021 1:01|
|12660|       PVarrayGen|WattsGenerated| -1.0| 20/09/2021 1:11|
|13200|       PVarrayGen|WattsGenerated| -1.0| 20/09/2021 1:43|
|14480|       PVarrayGen|WattsGenerated| -1.0| 20/09/2021 2:59|
+-----+-----------------+--------------+-----+----------------+
only showing top 20 rows

# Selecting Multiple Columns

In [50]:
df.select('Measurement','Value').show()

+--------------+-----+
|   Measurement|Value|
+--------------+-----+
|   Temperature| 21.6|
|   Temperature| 24.0|
|   Temperature| 24.0|
|   Temperature| 24.0|
|   Temperature| 24.0|
|   Temperature| 24.0|
|   Temperature| 24.0|
|   Temperature| 24.0|
|   Temperature| 21.6|
|   Temperature| 21.6|
|   Temperature| 18.0|
|WattsGenetated|218.0|
|  WattsMetered|  8.0|
|    WattsUsage|226.0|
|   Temperature| 18.0|
|WattsGenetated|216.0|
|  WattsMetered| 14.0|
|    WattsUsage|230.0|
|   Temperature| 18.0|
|WattsGenetated|212.0|
+--------------+-----+
only showing top 20 rows

In [ ]:
# Filtering Data Multiple parameters

+---+-----------------+-----------+-----+--------+
| id|IOTSensorlocation|Measurement|Value|readDate|
+---+-----------------+-----------+-----+--------+
+---+-----------------+-----------+-----+--------+

In [51]:
dfGen.orderBy(dfGen.Value.desc()).show()

+------+-----------------+--------------+------+----------------+
|    id|IOTSensorlocation|   Measurement| Value|        readDate|
+------+-----------------+--------------+------+----------------+
|141996|       PVarrayGen|WattsGenerated|5085.0|25/09/2021 11:39|
|141888|       PVarrayGen|WattsGenerated|5084.0|25/09/2021 11:33|
| 46124|       PVarrayGen|WattsGenerated|5084.0|21/09/2021 11:48|
|141920|       PVarrayGen|WattsGenerated|5082.0|25/09/2021 11:35|
|220032|       PVarrayGen|WattsGenerated|5082.0| 1/10/2021 11:59|
|220028|       PVarrayGen|WattsGenerated|5082.0| 1/10/2021 11:59|
|141908|       PVarrayGen|WattsGenerated|5080.0|25/09/2021 11:34|
|220036|       PVarrayGen|WattsGenerated|5080.0| 1/10/2021 11:59|
|141896|       PVarrayGen|WattsGenerated|5080.0|25/09/2021 11:33|
|141864|       PVarrayGen|WattsGenerated|5078.0|25/09/2021 11:31|
|219532|       PVarrayGen|WattsGenerated|5078.0| 1/10/2021 11:29|
|219692|       PVarrayGen|WattsGenerated|5078.0| 1/10/2021 11:39|
|141792|       PVarrayGen|WattsGenerated|5078.0|25/09/2021 11:27|
|290992|       PVarrayGen|WattsGenerated|5078.0| 4/10/2021 11:47|
| 46184|       PVarrayGen|WattsGenerated|5078.0|21/09/2021 11:51|
|141668|       PVarrayGen|WattsGenerated|5077.0|25/09/2021 11:19|
|  2656|       PVarrayGen|WattsGenerated|5076.0|19/09/2021 15:15|
| 46128|       PVarrayGen|WattsGenerated|5076.0|21/09/2021 11:48|
|141788|       PVarrayGen|WattsGenerated|5076.0|25/09/2021 11:27|
|141892|       PVarrayGen|WattsGenerated|5076.0|25/09/2021 11:33|
+------+-----------------+--------------+------+----------------+
only showing top 20 rows

In [52]:
dfGen.filter(dfGen.Value > 5080).count()

6

In [54]:
df.filter((df.Measurement =='WattsGenerated') & (df.Value > 5000)).show() # && (df.Value > 5000)).show()

+-----+-----------------+--------------+------+----------------+
|   id|IOTSensorlocation|   Measurement| Value|        readDate|
+-----+-----------------+--------------+------+----------------+
| 2656|       PVarrayGen|WattsGenerated|5076.0|19/09/2021 15:15|
| 2668|       PVarrayGen|WattsGenerated|5002.0|19/09/2021 15:16|
|21176|       PVarrayGen|WattsGenerated|5044.0|20/09/2021 10:40|
|21272|       PVarrayGen|WattsGenerated|5001.0|20/09/2021 10:46|
|21288|       PVarrayGen|WattsGenerated|5004.0|20/09/2021 10:47|
|21300|       PVarrayGen|WattsGenerated|5006.0|20/09/2021 10:48|
|21304|       PVarrayGen|WattsGenerated|5026.0|20/09/2021 10:48|
|21308|       PVarrayGen|WattsGenerated|5005.0|20/09/2021 10:48|
|21312|       PVarrayGen|WattsGenerated|5004.0|20/09/2021 10:49|
|21344|       PVarrayGen|WattsGenerated|5002.0|20/09/2021 10:51|
|21348|       PVarrayGen|WattsGenerated|5008.0|20/09/2021 10:51|
|21356|       PVarrayGen|WattsGenerated|5002.0|20/09/2021 10:51|
|21632|       PVarrayGen|WattsGenerated|5023.0|20/09/2021 11:08|
|21640|       PVarrayGen|WattsGenerated|5026.0|20/09/2021 11:09|
|21660|       PVarrayGen|WattsGenerated|5030.0|20/09/2021 11:10|
|21664|       PVarrayGen|WattsGenerated|5006.0|20/09/2021 11:10|
|21668|       PVarrayGen|WattsGenerated|5008.0|20/09/2021 11:10|
|21672|       PVarrayGen|WattsGenerated|5002.0|20/09/2021 11:10|
|21676|       PVarrayGen|WattsGenerated|5010.0|20/09/2021 11:11|
|21708|       PVarrayGen|WattsGenerated|5010.0|20/09/2021 11:13|
+-----+-----------------+--------------+------+----------------+
only showing top 20 rows

In [ ]:
# activity : find distinct the dates that > 5Kw was generated before 11:00am

In [ ]:
# SQL queries

In [57]:
df.createOrReplaceTempView("solar")

In [63]:
sqlDF = spark.sql('select Measurement, Value, readDate from solar WHERE Measurement = "WattsGenerated" ORDER BY Value DESC')
sqlDF.show()

+--------------+------+----------------+
|   Measurement| Value|        readDate|
+--------------+------+----------------+
|WattsGenerated|5085.0|25/09/2021 11:39|
|WattsGenerated|5084.0|25/09/2021 11:33|
|WattsGenerated|5084.0|21/09/2021 11:48|
|WattsGenerated|5082.0|25/09/2021 11:35|
|WattsGenerated|5082.0| 1/10/2021 11:59|
|WattsGenerated|5082.0| 1/10/2021 11:59|
|WattsGenerated|5080.0|25/09/2021 11:34|
|WattsGenerated|5080.0| 1/10/2021 11:59|
|WattsGenerated|5080.0|25/09/2021 11:33|
|WattsGenerated|5078.0|25/09/2021 11:31|
|WattsGenerated|5078.0| 1/10/2021 11:29|
|WattsGenerated|5078.0| 1/10/2021 11:39|
|WattsGenerated|5078.0|25/09/2021 11:27|
|WattsGenerated|5078.0| 4/10/2021 11:47|
|WattsGenerated|5078.0|21/09/2021 11:51|
|WattsGenerated|5077.0|25/09/2021 11:19|
|WattsGenerated|5076.0|19/09/2021 15:15|
|WattsGenerated|5076.0|21/09/2021 11:48|
|WattsGenerated|5076.0|25/09/2021 11:27|
|WattsGenerated|5076.0|25/09/2021 11:33|
+--------------+------+----------------+
only showing top 20 rows

In [65]:
sql = 'select Measurement, Value, readDate , NTILE(5) OVER ( ORDER BY Value DESC) value_group from solar'

In [66]:
sqlDF1 = spark.sql(sql)
sqlDF1.show()

+------------+------+----------------+-----------+
| Measurement| Value|        readDate|value_group|
+------------+------+----------------+-----------+
|WattsMetered|6489.0|29/09/2021 18:26|          1|
|  WattsUsage|6489.0|29/09/2021 18:26|          1|
|WattsMetered|6486.0|29/09/2021 18:23|          1|
|  WattsUsage|6486.0|29/09/2021 18:23|          1|
|WattsMetered|6480.0|29/09/2021 18:23|          1|
|  WattsUsage|6480.0|29/09/2021 18:23|          1|
|WattsMetered|6471.0|29/09/2021 18:26|          1|
|  WattsUsage|6471.0|29/09/2021 18:26|          1|
|WattsMetered|6469.0|29/09/2021 18:24|          1|
|  WattsUsage|6469.0|29/09/2021 18:24|          1|
|WattsMetered|6445.0|29/09/2021 18:25|          1|
|  WattsUsage|6445.0|29/09/2021 18:25|          1|
|WattsMetered|6439.0|29/09/2021 18:27|          1|
|  WattsUsage|6439.0|29/09/2021 18:27|          1|
|WattsMetered|6431.0|29/09/2021 18:24|          1|
|  WattsUsage|6431.0|29/09/2021 18:24|          1|
|WattsMetered|6424.0|29/09/2021 18:25|          1|
|  WattsUsage|6424.0|29/09/2021 18:25|          1|
|  WattsUsage|5325.0| 21/09/2021 7:21|          1|
|  WattsUsage|5312.0| 21/09/2021 7:22|          1|
+------------+------+----------------+-----------+
only showing top 20 rows

In [67]:
spark.stop()

# Running SQL Queries Programmatically

In [ ]:
# http://localhost:4040/environment/

In [15]:
spark.stop()